<!DOCTYPE html>
<html>
<head th:replace="plantillas/base.html :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="plantillas/base.html :: headboard"></nav>
		<aside th:replace="plantillas/base.html :: menu"></aside>
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Shopping car</h1>
						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<form th:action="@{/patients/medicalAppointment}" method="post">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Shopping car</h5>
										<p th:text="${'Total: ' + total}" class="text-right"></p>
									</div>
									<div class="card-body">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
													<th>Prescription</th>
													<th>Total</th>
													<th>Remove from shopping car</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="producto, iterador : ${session.carrito}">
													<td th:text="${producto.name}"></td>
													<td th:text="${producto.description}"></td>
													<td th:text="${producto.price}"></td>
													<td th:text="${producto.prescription}"></td>
													<td th:text="${producto.total}"></td>
													<td>
														<form th:action="@{/patients/vender/quitar/} + ${iterador.index}"
															method="post">
															<button type="submit" class="btn btn-danger">
																<i class="fa fa-trash"></i>
															</button>
														</form>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="card-footer">
										<input type="submit" value="End buy" class="btn btn-success" />
									</div>

								</div>
							</form>
						</div>
					</div>
				</div>
		</div>
		</section>
	</div>
	<footer th:replace="plantillas/base.html :: footer"></footer>
	</div>
	<div th:replace="plantillas/base.html :: js"></div>
</body>
</html>