<!DOCTYPE html>
<html>
<head th:replace="plantillas/base.html :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="plantillas/base.html :: headboard"></nav>
		<aside th:replace="plantillas/base.html :: menu"></aside>
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">User Profile</h1>
						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div th:replace="plantillas/base.html :: messages"></div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Profile</h5>
								</div>
								<div class="card-body">
									<div class="row">
										<div th:object=${usuario}>
											<div class="form-group">
												<label>Username</label>
												<p th:text="*{name}"></p>
											</div>
											<div class="form-group">
												<label>Name</label>
												<p th:text="*{firstname + ' ' + surname}"></p>
											</div>
											<div class="form-group">
												<label>Age</label>
												<p th:text="*{age}"></p>
											</div>
											<div class="form-group">
												<label>Direction</label>
												<p th:text="*{direction}"></p>
											</div>
										</div>
									</div>

								</div>
								<div class="card-footer" sec:authorize="hasRole('ROLE_PATIENT')">
									<form th:action="@{/patients/profile}" method="get">
										<input type="submit" value="Edit" class="btn btn-success" />
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer th:replace="plantillas/base.html :: footer"></footer>
	</div>
	<div th:replace="plantillas/base.html :: js"></div>
</body>
</html>