<!DOCTYPE html>
<html>
<head th:replace="plantillas/base.html :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="plantillas/base.html :: headboard"></nav>
		<aside th:replace="plantillas/base.html :: menu"></aside>
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Medicines of SegPrivado</h1>
						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Medicines</h5>
								</div>
								<div class="card-body">
									<div class="row">
										<form th:action="@{/medic/save}" th:object=${medico}
											method="post">
											<div class="form-group">
												<label>NAME</label> <input th:field="*{name}" type="hidden"
													class="form-control" />
											</div>
											
											<div class="form-group">
												<label>FIRST NAME</label> <input th:field="*{firstname}"
													type="text" class="form-control" />
											</div>
											<div class="form-group">
												<label>SURNAME</label> <input th:field="*{surname}"
													type="text" class="form-control" />
											</div>
											<div class="form-group">
												<label>AGE</label> <input th:field="*{age}" type="number"
													class="form-control" />
											</div>
											<div class="form-group">
												<label for="specialty">SPECIALTY</label> <select
													id="specialty" th:field="*{specialty}" class="form-control"
													name="specialty">
													<option value="Family doctor">Family doctor</option>
													<option value="Digestive">Digestive</option>
													<option value="Neurologist">Neurologist</option>
													<option value="Dermatologist">Dermatologist</option>
													<option value="Traumatologist">Traumatologist</option>
												</select>
											</div>
									</div>
								</div>
								<div class="card-footer">
									<input type="submit" value="Save" class="btn btn-success" /> <a
										href="/medic/list" class="btn btn-secondary">Return</a>
								</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer th:replace="plantillas/base.html :: footer"></footer>
	</div>
	<div th:replace="plantillas/base.html :: js"></div>
</body>
</html>