<!-- Main Sidebar Container -->
<aside th:fragment="menu"
	class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="/" class="brand-link"> <img
		src="dist/img/AdminLTELogo.png" th:src="@{/dist/img/AdminLTELogo.png}"
		alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
		style="opacity: .8"> <span class="brand-text font-weight-light">SegPrivado</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="dist/img/user2-160x160.jpg"
					th:src="@{/dist/img/user2-160x160.jpg}"
					class="img-circle elevation-2" alt="User Image">
				<div sec:authorize="isAuthenticated()" class="info">
					<form th:action="@{/logout}" method="post">
						<input type="submit" value="Logout" class="btn btn-danger" />
					</form>
				</div>
				<div sec:authorize="isAnonymous()" class="info">
					<a href="/login">Login</a>
				</div>
			</div>
			<div class="info">
				<a href="" class="d-block"></a>
			</div>
		</div>
		<!-- SidebarSearch Form -->
		<div class="form-inline">
			<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search"
					placeholder="Search" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
		<ul class="nav nav-pills nav-sidebar flex-column"
				sec:authorize="isAnonymous()" data-widget="treeview" role="menu"
				data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
				<li class="nav-item"><a href="/login" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							Login
						</p>
				</a></li>
				<li class="nav-item"><a href="/register" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							SingUp
						</p>
				</a></li>
			</ul>
			<ul class="nav nav-pills nav-sidebar flex-column"
				sec:authorize="isAuthenticated()" data-widget="treeview" role="menu"
				data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
				<li class="nav-header">User menu</li>
				<li class="nav-item"><a href="/profile" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							My Profile
						</p>
				</a></li>
			</ul>
			<ul class="nav nav-pills nav-sidebar flex-column"
				sec:authorize="hasRole('ADMIN')" data-widget="treeview" role="menu"
				data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
				<li class="nav-header">Admin menu</li>
				<li class="nav-item"><a href="/patient/list" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							Patients
						</p>
				</a></li>
				<li class="nav-item"><a href="/medic/list" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							Medics
						</p>
				</a></li>
				<li class="nav-item"><a href="/medicine/list" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							Medicines
						</p>
				</a></li>
			</ul>
			<ul class="nav nav-pills nav-sidebar flex-column"
				sec:authorize="hasRole('ROLE_MEDIC')" data-widget="treeview" role="menu"
				data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
				<li class="nav-header">Medic menu</li>
				<li class="nav-item"><a href="/medicalAppointment" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							Medic appointment
						</p>
				</a></li>
				<li class="nav-item"><a href="/medicalAppointment/patient" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							Patients
						</p>
				</a></li>
			</ul>
			<div></div>
			<ul class="nav nav-pills nav-sidebar flex-column"
				sec:authorize="hasRole('ROLE_PATIENT')" data-widget="treeview" role="menu"
				data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
				<li class="nav-header">Patient menu</li>
				<li class="nav-item"><a href="/patients/medicalAppointment" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							Medic appointment
						</p>
				</a></li>
				<li class="nav-item"><a href="/patients/list" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							List of medic appointments
						</p>
				</a></li>
				<li class="nav-item"><a href="/patients/Carrito" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							Shopping car
						</p>
				</a></li>
				<li class="nav-item"><a href="/patients/Shop" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							Shop
						</p>
				</a></li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>