<!DOCTYPE html>
<html>
<head th:replace="plantillas/base.html :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="plantillas/base.html :: headboard"></nav>
		<aside th:replace="plantillas/base.html :: menu"></aside>
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Patient</h1>
						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Patients</h5>
								</div>
								<div class="card-body">
									<div class="row">
										<table class="table">
											<thead>
												<tr>

													<td>ID</td>
													<td>NAME</td>
													<td>SURNAME</td>
													<td>AGE</td>
													<td>DIRECTION</td>
													<td>FIRSTNAME</td>
													<td>ACTIONS</td>

												</tr>
											</thead>

											<tbody th:each="patient:${patients}">
												<tr>

													<td th:text="${patient.id}"></td>
													<td th:text="${patient.name}"></td>
													<td th:text="${patient.surname}"></td>
													<td th:text="${patient.age}"></td>
													<td th:text="${patient.direction}"></td>
													<td th:text="${patient.firstname}"></td>
													<td><a th:href="@{/patient/modifyEdit/}+${patient.id}"
														class="btn btn-warning">Modify</a></td>

												</tr>
											</tbody>
										</table>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer th:replace="plantillas/base.html :: footer"></footer>
	</div>
	<div th:replace="plantillas/base.html :: js"></div>
</body>
</html>