<!DOCTYPE html>
<html>
<head th:replace="plantillas/base.html :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="plantillas/base.html :: headboard"></nav>
		<aside th:replace="plantillas/base.html :: menu"></aside>
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Patients of SegPrivado</h1>
						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div th:replace="plantillas/base.html :: messages"></div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Patients</h5>
								</div>
								<div class="card-body">
									<div class="row">
										<a th:href="@{/patient/new}" class="btn btn-primary">Add
											Patient</a>
										<table class="table table-bordered">
											<thead>
												<tr>
													<td>ID</td>
													<td>USERNAME</td>
													<td>FIRSTNAME</td>
													<td>SURNAME</td>
													<td>AGE</td>
													<td>DIRECTION</td>
													<td>ACTIONS</td>

												</tr>
											</thead>

											<tbody th:each="patient:${patients}">
												<tr>

													<td th:text="${patient.id}"></td>
													<td th:text="${patient.name}"></td>
													<td th:text="${patient.firstname}"></td>
													<td th:text="${patient.surname}"></td>
													<td th:text="${patient.age}"></td>
													<td th:text="${patient.direction}"></td>
													<td><a th:href="@{/patient/modify/}+${patient.id}"
														class="btn btn-warning">Modify</a> <a
														th:href="@{/patient/delete/}+${patient.id}"
														class="btn btn-danger" data-toggle="modal"
														data-target="#modal-default">Delete</a></td>
													<div class="modal fade" id="modal-default">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h4 class="modal-title">Default Modal</h4>
																	<button type="button" class="close"
																		data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																</div>
																<div class="modal-body">
																	<p>One fine body&hellip;</p>
																</div>
																<div class="modal-footer justify-content-between">
																	<button type="button" class="btn btn-default"
																		data-dismiss="modal">Close</button>
																	<a th:href="@{/patient/delete/}+${patient.id}"
																		class="btn btn-danger">Delete patient</a>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- /.modal -->
												</tr>
											</tbody>
										</table>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer th:replace="plantillas/base.html :: footer"></footer>
	</div>
	<div th:replace="plantillas/base.html :: js"></div>
</body>
</html>