<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/patient/save}" th:object=${patient} method="post">
				<div class="card">
					<div class="card-header">
						<h3>Patient Model</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<input th:field="*{id}" type="hidden" class="form-control"/>
						</div>
						<div class="form-group">
							<input th:field="*{name}" type="text" class="form-control"/>
						</div>
						<div class="form-group">
							<label>SURNAME</label>
							<input th:field="*{surname}" type="text" class="form-control"/>
						</div>
						<div class="form-group">
							<label>AGE</label>
							<input th:field="*{age}" type="number" class="form-control"/>
						</div>
						<div class="form-group">
							<label>DIRECTION</label>
							<input th:field="*{direction}" type="text" class="form-control"/>
						</div>
						<div class="form-group">
							<label>FIRSTNAME</label>
							<input th:field="*{firstname}" type="text" class="form-control"/>
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</html>