<!DOCTYPE html>
<html>
<head th:replace="plantillas/base.html :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="plantillas/base.html :: headboard"></nav>
		<aside th:replace="plantillas/base.html :: menu"></aside>
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Medicines of SegPrivado</h1>
						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Medicines</h5>
								</div>
								<div class="card-body">
									<div class="row">
										<form th:action="@{/medicine/save}" th:object=${medicine}
											method="post">
											<div class="form-group">
												<label>NAME</label> <input th:field="*{name}" type="text"
													class="form-control" />
											</div>
											<div class="form-group">
												<label>DESCRIPTION</label> <input th:field="*{description}"
													type="text" class="form-control" />
											</div>
											<div class="form-group">
												<label for="specialty">PRESCRIPTION</label> <select
													id="specialty" th:field=*{prescription}
													class="form-control" name="prescription">
													<option value="y">Yes</option>
													<option value="n">No</option>
												</select>
											</div>
											<div class="form-group">
												<label>PRICE</label> <input th:field="*{price}"
													type="number" class="form-control" />
											</div>
											<div class="form-group">
												<label>STOCK</label> <input th:field="*{stock}"
													type="number" class="form-control" />
											</div>
									</div>
								</div>
								<div class="card-footer">
									<input type="submit" value="Save" class="btn btn-success" /> <a
										href="/medicine/list" class="btn btn-secondary">Return</a>
								</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer th:replace="plantillas/base.html :: footer"></footer>
	</div>
	<div th:replace="plantillas/base.html :: js"></div>
</body>
</html>