<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
<head th:replace="plantillas/base.html :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="plantillas/base.html :: headboard"></nav>
		<aside th:replace="plantillas/base.html :: menu"></aside>
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Medicines of SegPrivado</h1>
						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
				<div th:replace="plantillas/base.html :: messages"></div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Medicines</h5>
								</div>
								<div class="card-body">
									<div class="row">
										<a th:href="@{/medicine/new}" class="btn btn-primary">Add
											Medicine</a>
										<table class="table table-bordered">
											<thead>
												<tr>

													<td>ID</td>
													<td>NAME</td>
													<td>DESCRIPTION</td>
													<td>PRESCRIPTION</td>
													<td>PRICE</td>
													<td>STOCK</td>
													<td>ADD STOCK</td>
													<td>ACTIONS</td>

												</tr>
											</thead>

											<tbody th:each="medicine:${list}">
												<tr>

													<td th:text="${medicine.id}"></td>
													<td th:text="${medicine.name}"></td>
													<td th:text="${medicine.description}"></td>
													<div th:switch="${medicine.prescription}">
														<td th:case="'y'">
															<i class="fas fa-clipboard-check"></i>
														</td>
														<td th:case="'n'">
															<i class="fas fa-times-circle"></i>
														</td>
													</div>
													<td th:text="${medicine.price}"></td>
													<td th:text="${medicine.stock}"></td>
													<form method="POST" th:action="@{/medicine/stock}">
														<input type="hidden" th:value="${medicine.id}" name="id"
															id="id" />
														<td><input type="number" id="stock" name="stock"
															style="width: 60px" /></td>
														<td><a th:href="@{/medicine/modify/}+${medicine.id}"
															class="btn btn-warning">Modify</a> <a
															th:href="@{/medicine/delete/}+${medicine.id}"
															class="btn btn-danger">Delete</a> <input type="submit"
															value="Modify Stock" class="btn btn-info" /></td>
														</form>
												</tr>
											</tbody>
										</table>
										
										<div class="row">
											<div class="col-md-2"></div>
											<div class="col-md-8">
												<nav aria-label="Pagination">
												  <ul class="pagination justify-content-center">
												    <li class="page-item" th:each="page:${pages}">
												    <a class="page-link" th:href="@{|/?page=${page}|}" th:text="${page}"></a>
												    </li>
												  </ul>
												</nav>
											</div>
											<div class="col-md-2"></div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer th:replace="plantillas/base.html :: footer"></footer>
	</div>
	<div th:replace="plantillas/base.html :: js"></div>
</body>
</html>