<!DOCTYPE html>
<html>
<head th:replace="plantillas/base.html :: head"></head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="plantillas/base.html :: headboard"></nav>
		<aside th:replace="plantillas/base.html :: menu"></aside>
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Contact Us</h1>
						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 col-sm-6 col-md-3">
							<a
								href="https://es-es.facebook.com/groups/empleoseguridadprivadaespana/">
								<div class="info-box">
									<span class="info-box-icon bg-info elevation-1"><i
										class="fab fa-facebook-f"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Facebook</span> <span
											class="info-box-number"> 30.000 followers </span>
									</div>
									<!-- /.info-box-content -->
								</div>
							</a>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->
						<div class="col-12 col-sm-6 col-md-3">
							<a
								href="https://www.youtube.com/channel/UC3Az-4qZtSgMTIzwVH0rdAg">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-danger elevation-1"><i
										class="fab fa-youtube"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Youtube</span> <span
											class="info-box-number">4M Views</span>
									</div>
									<!-- /.info-box-content -->
								</div>
							</a>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->

						<!-- fix for small devices only -->
						<div class="clearfix hidden-md-up"></div>

						<div class="col-12 col-sm-6 col-md-3">
							<div class="info-box mb-3">
								<span class="info-box-icon bg-success elevation-1"><i
									class="fab fa-whatsapp"></i></span>

								<div class="info-box-content">
									<span class="info-box-text">Whatsapp</span> <span
										class="info-box-number">+58 8263 213 73</span>
								</div>
								<!-- /.info-box-content -->
							</div>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->
						<div class="col-12 col-sm-6 col-md-3">
							<a href="https://twitter.com/vigilantes_esp?lang=es">
								<div class="info-box mb-3">
									<span class="info-box-icon bg-primary elevation-1"><i
										class="fab fa-twitter"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Twitter</span> <span
											class="info-box-number">30K retweets</span>
									</div>
									<!-- /.info-box-content -->
								</div>
							</a>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
					<div class="row">
						<div class="col-12 col-sm-6 col-md-3">
								<div class="info-box">
									<span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-envelope"></i></span>

									<div class="info-box-content">
										<span class="info-box-text">Email</span> <span
											class="info-box-number"> contact@seg.privado </span>
									</div>
									<!-- /.info-box-content -->
								</div>
							<!-- /.info-box -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
			</section>
		</div>
		<footer th:replace="plantillas/base.html :: footer"></footer>
	</div>
	<div th:replace="plantillas/base.html :: js"></div>
</body>
</html>